/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    /* width: 100%; */
    background: #fafafa;
  }
  
  
  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  .progress {
    height: 10px;
  }
  
  header {
    background-image: url('img/background_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    /* background-size: 1900px; */
  }
  li{
    list-style: none;
  }
 .photo{
  aspect-ratio: 3/2;

 }

 .card_photo{
  max-height: 140px;
 }

 .iframe_r{
  width: 700px;
  height: 504px;
 
 }

 .btn_rent{
  background-color: transparent;
  color: white;
 }
 .btn_rent:hover{
  background-color: #dc3545;
  color: white;
 }

 @media screen and (max-width: 992px) {
  .iframe_r{
    width: 365px;
    height: 250px;
  }
  .section3{
    /* display: none; */
    width: 400px!important;
    height: 230px!important;
  }
}